<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>SeoTube: 영상 재생</title>

    <link rel="stylesheet" href="css/tailwind.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="flex flex-col">
        <div class="border-b-2 bg-gray-100">
            <div class="nav flex flex-row items-center mt-1 p-2">
                <div class="text-xl font-bold">
                    <a href="/">SeoTube</a>
                </div>
                <div class="ml-16">
                    <a href="/">영상</a>
                </div>
                <div class="ml-4 border-b-2 border-blue-600">
                    <a href="/upload">업로드</a>
                </div>
                <div class="ml-4">
                    <a href="/history">시청 기록</a>
                </div>
            </div>
        </div>
    </div>

    <div class="m-4">
        <h1>{{video.metadata.name}}</h1>
        <div class="m-4">
            <video controls autoplay muted>
                <source src={{video.url}} type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
</body>

</html>